.edit-btn {
  background: #1c75bc !important;
  color: #ffffff !important;
}

.edit-btn:hover {
  color: #ffffff !important;
}

.delete-btn {
  background: #f52323 !important;
  color: #ffffff !important;
}

.delete-btn:hover {
  color: #ffffff !important;
}

.table, tr, td, th {
  border: 0 !important;
}

.table th {
  border-bottom: 1px solid #e5e5e5 !important;
}
a{
        text-decoration: none !important;
}
